<p id="notice"><%= notice %></p>

<%= render(@fic) =%>

<table>
<tr>
<th>Chapter</th>
<th>Words</th>
</tr>
<% @fic.chapters.each do |chapter| %>
<tr>
<td><%= link_to chapter, [@fic, chapter] =%></td>
<td><%= chapter.word_count =%></td>
</tr>
<% end %>
</table>
