// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery.qtip

.readnav {
	width: 100%;
	text-align: center;
	padding: 4px 2px 4px 2px;

	.readnavprev {
		text-align: left;
		position: absolute;
		left: 0;
		top: 0;
	}

	.readnavinfo {
		display: inline;
	}

	.readnavnext {
		text-align: right;
		position: absolute;
		right: 0;
		top: 0;
	}

}

.topnav {
	position: absolute;
	z-index: 5;
}

.bottomnav {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 5;
}

.chapter_sidebar {
	width: 50px;
	min-height: 100%;
	float: left;
	position: fixed;
	left: 0;
	top: 0;
	padding: 130px 0px 0px 0px;
	text-align: center;
}

.appearance_popup {
	display: none;
}

.codex-tooltip {
	font-size: 14px;
	background-color: inherit;
	position: fixed;
}

#qtip-overlay div {
	background-color: transparent !important;
}

.readtext {
	white-space: pre-wrap;
	padding: 35px 96px 70px 121px;
	line-height: 1.7em;
}

.emphasis {
	font-style: italic;
}

.breakline {
	margin: 48px 0px 48px 0px;
}

@for $i from 1 through 5 {

	$name: nth((
		"newspaper",
		"novel",
		"ebook",
		"inverse",
		"athelas"
	), $i);

	$navcolor: nth((
		#f6f6f2,
		#e6e0c3,
		#dbd9d5,
		#21252a,
		#ececec
	), $i);

	$bordercolor: nth((
		#d9d9d5,
		#cac6ac,
		#c1bebb,
		#1e2126,
		#cfcfcf
	), $i);

	body.#{$name}_theme {

		.readnav {
			background-color: $navcolor;
		}

		.topnav {
			border-bottom: 2px solid $bordercolor;
		}

		.bottomnav {
			border-top: 2px solid $bordercolor;
		}

		.chapter_sidebar {
			background-color: $navcolor;
			border-right: 2px solid $bordercolor;
		}

		.breakline {
			border-top: 1px solid $bordercolor;
		}

		.codex-tooltip {
			border-color: $bordercolor;

			.ui-tooltip-titlebar {
				background-color: $navcolor;
			}
		}

	}

}

@for $i from 1 through 3 {

	$name: nth((
		"small",
		"medium",
		"large"
	), $i);

	$size: nth((
		1em,
		1.2em,
		1.4em
	), $i);

	.#{$name}_size.readtext {
		font-size: $size;
	}

}
